<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a style="color: #fff;" class="nav-link" href="#">Horaires</a>
    </li>
    <li class="nav-item">
        <a style="color: #fff;" class="nav-link" href="#">Dates</a>
    </li>
</ul>